body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.field-validation-error {

    color: red;
}

.input-validation-error {
    border: 2px solid red;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: white;
}

.navbar-default {
    background-color: #0e436d;
    border-color: #0e436d;
}

    .navbar-default .navbar-nav > li > a {
        color: #f9f5f5;
    }

    .navbar-default .navbar-brand {
        color: #fff;
    }

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #456b98;
    border-color: #456b98;
}